
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,.sctratch-card,.invitation{
    background: #f9f9f9;
    min-height: 100vh;
    overflow-x: hidden;
    justify-content: center;
    align-items: center;
    background: #f2f2f2;
    

}
section{
    overflow-y: hidden;
    overflow: hidden;
}
.parallex{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    z-index: 1;
    /* display: none; */
}

.text1{
     position: absolute;
    font-size: 2em;
    text-shadow: 2px 2px 4px rgba(0,0,0,.2);
    z-index: inherit;
    top: 25%;
    font-family: "sekuya", system-ui;
    font-weight: 400;
    font-style: normal;
    color: #24523a;
}
.text2{
    font-size: 2em;
    color:#EA8FB6;
    position: absolute;
    filter:drop-shadow(10px 10px 10px black);
    animation: heartbeat 1s infinite ease-in-out;
    overflow: hidden;
    z-index: inherit;
    font-weight: 400;
    top: 32%;
}
@keyframes heartbeat {
    0%,100%{transform: scale(1) rotate(0);}
    50%{transform: scale(1.2) rotate(0);}
}
.text3{
    top: 40%;
    font-size: 2em;
    position: absolute;
    font-family: "Sekuya", system-ui;
    font-weight: 400;
    font-style: normal;
    z-index: inherit;
    color: #24523a;

}
.text4{
    top: 0;
    font-size: 12px;
    position: relative;
    font-family: "Sekuya", system-ui;
    font-weight: 400;
    font-style: none;
    z-index: inherit;
    color: #e34234;
    font-weight: bold;
    animation: beat 1s infinite ease-in-out;

}
@keyframes beat {
    0%,100%{transform: scale(1) rotate(0);}
    50%{transform: scale(1.2) rotate(0);}
}

/* .text4::after{
    
    content: "";
    position: absolute;
    top: 0;
    left:0;
    height: 100%;
    width: 100%;
    background:#f9dfad;
    /* border-left: 2px solid #f9dfad; */
    /* animation: typing 2.5s steps(6) infinite; 
    animation: animate 1s linear forwards;

}
 @keyframes typing{
    100%{
        left: 100%;
margin: 0 -35px 0 35px;
    }
}  
@keyframes animate {
    0%{
        left: 110%;
    }
    100%{
        left: -20%;
    }
} */

.word1{
    position: absolute;
    color:black;
    z-index: inherit;
    align-items: center;
    text-align: center;
    top: 85%;
    font-family: "sekuya",system-ui;
    font-style: 200;
    font-size: 1em;
    font-weight: 100px;

}
.parallex img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
    opacity: 0.8;
}
.sec-1{
    position: relative;
    background:#CBBD93;
    height: 100vh;
    width: 100%;
    left: 0;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    object-fit: cover;
    background-position:center;
    text-align: center;
}

.sec-1 p1{
    padding: 20px;
    position: absolute;
    font-size:3.4em;
    color: #fff;
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
    overflow: hidden;
    left: 0;
    top: 35%;
}
.image5{
    position: absolute;
    width: 190px;
    height:190px;
    z-index:10; 
    top: 70%;
    border-radius: 10px;
    left: 4%;
    background-position: center;
    background-repeat: no-repeat;
}
.image6{
    position: absolute;
    width: 190px;
    height:190px;
    opacity: 0.9;
    z-index:10; 
    top: 5%;
    border-radius: 10px;
    right: 3%;
    background-image: transparent;
    background-position: center;
    background-repeat: no-repeat;
}
section .sec-1{
    transition: 1s;
}
.sec-1 .animate{
    transform: translateX(-100%);
}
.sec-1.show-animate .animate{
    transform: translateX(0);
}
 

.sec-1 .animate1{
    transform: translateX(200%);
}
.sec-1.show-animate .animate1{
    transform: translateX(0);
}
@media screen and (max-width:600px) {
    .sec-1 p1,.sec-1.animate,sec-1{
        font-size: 4em;
        height: 40vh;
    }
    .sec-1 p2{
        font-size: 3em;
        height: 40vh;
        top:70%;
    }
    
}
@media screen and (max-width:1000px) {
    .sec-1 p1,.sec-1.animate,.sec-1{
        font-size: 1.5em;
        height: 100vh;
    }
    .sec-1 p2{
        font-size: 1.5em;
        height: 100vh;
        top:55%;
    }
    
}
@media screen and (max-width:380px) {
    .sec-1 p1,.sec-1.animate,.sec-1{
        font-size: 1.5em;
        height: 100vh;
    }
    .sec-1 p2{
        font-size: 1.5em;
        height: 100vh;
        top:65%;
    }
    
}
@media screen and (min-height:1000px) {
    .sec-1 p1,.sec-1.animate,.sec-1{
        font-size: 2em;
        height: 100vh;
    }
    .sec-1 p2{
        font-size: 2em;
        height: 100vh;
        top:65%;
    }
    
}


.good{
     position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}
.scratch-card{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    width: 500px;
    border-radius: 100%;
    z-index: 1; 

}


#scratchCanvas{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* touch-action: none; */
    display: block;
    cursor: pointer;
} 
.line2{
    display: flex;
    align-items: center;
    gap: 15px;
    width: 50%;
    margin: 70px ;
}
.line2::before,
.line2::after{
    content:"";
    flex: 1;
    height: 4px;
    background: gold;
    border-radius: 100%;
}
.line2 span{
    font-size: 25px;
    color: white;
}
.popup{
    width: 300px;
    height: 200px;
    background:transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}
hr{
    width: 40%;
    height: 30px;
    color: gold;
    border-radius:100%;
    
}
.popup p{
    color: gold;
    position: relative;
    justify-content: center;
    align-self: center;
    text-align: center;
    font-size: 15px;
    font-family: "Sekuya", system-ui;
    font-style: normal;
    padding: 3px;
    margin-top:-28PX;
    margin-bottom: -27px;
}


.countdown{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px; 
    background: transparent;
    color: #fff;
    width: 400px;
    border-radius: 20px;
    bottom:0;
    
}

.countdown h1{
    top: 15%;
    position: absolute;
    display: flex;
    font-size: x-large;
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
    color: gold;
} 
.timer{
    position: relative;
    display: flex;
    gap: 10px;
    justify-content: center;
    top: 5%;
}
.box{
    background: rgba(255,255,255,0.15);
    padding: 10px;
    border-radius: 15px;
    min-width: 80px;
    backdrop-filter: blur(10px);
}
.box span{
    position: relative;
    display: block;
    font-size: 30px;
    font-weight: bold;
    color: palevioletred;
}
.box small{
    font-size: 18px;
    color: peru;
}
#message{
    margin-top: 25px;
    font-size: 24px;
    font-weight: bold;
}
@media screen and (min-height:1300px) {
    .recep,.recep img{
        height: 800px;
        width: 800px;
    }
}

.invitation{
  width: 100%;
  height: 50%;
  position: relative;
  overflow: hidden;
  /* z-index: 10; */
}
.cover{
  position: absolute;
  inset: 0;
  color: white;
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index:2;
}


 .cover .image7{
    position: absolute;
    height: 100vh;
    width: 50%;
    left: 0%;
    top: 0;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position:center;
    text-align: center;
    transition: transform 1.5s ease-in-out, opacity 1.5s ease-in-out;

 }
 .cover.image7.open {
    transform: rotateZ(-105deg);
}
  .cover .image8{
    position: absolute;
    height: 100vh;
    width: 50%;
    right:0%;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position:center;
    text-align: center;
    transition: transform 1.5s ease-in-out, opacity 1.5s ease-in-out;
 }
.image8.open {
  transform: translateX(-100%);
  opacity: 0;
  pointer-events: none;
}
.image7.open {
  transform: translateX(100%);
  opacity: 0;
  pointer-events: none;
}

/* .cover-content {
  padding: 30px;
} */

.h1 {
  font-size: 45px;
  margin: 10px 0;
  position: relative;
  z-index: 3;
  align-items: center;
  justify-content: center;
  padding: 10px;
  /* margin-bottom: -75px; */
}

.p1 {
  position: relative;
  font-size: 15px;
  margin-top: 100px;
  z-index: 3;
  padding: 30px;
  top: 50%;

}


.open-btn {
position: relative;
  border: 2px solid white;
  background: transparent;
  color: white;
  padding: 15px 35px;
  border-radius: 50px;
  font-size: 18px;
  cursor: pointer;
  animation: pulse 1.5s infinite;
  z-index: 2;
  margin-bottom: -90vh;
}

@keyframes pulse {
  50% {
    transform: scale(1.08);
  }
}
@media screen  and (max-width:400px){
    .h1{
        font-size:40px;
    }
    
}

.confetti {
  position: fixed;
  top: -10px;
  font-size: 25px;
  animation: fall  linear forwards infinite;
  z-index: 20;
}

@keyframes fall {
  to {
    transform: translateY(110vh) rotate(360deg);
    opacity: 0;
  }
}
.last{
    position: relative;
    height: 135vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    background-color: #F1E5AC;
}
.last .line1{
    display: flex;
    align-items: center;
    gap: 15px;
    width: 80%;
    margin: 30px auto;
}
.line1::before,
.line1::after{
    content:"";
    flex: 1;
    height: 1px;
    background: #2f5d3a;
}

.last h1{
    position: relative;
    align-items: center;
    justify-self: center;
    text-align: center;
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 3em;
    padding: 20px;
}
.last p1{
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: "sekuya",system ui;
    color: #24523a;
    font-size: 15px;
    display: flex;
    word-spacing: 5px;
}

.time3{
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    font-family: "Sekuya", system-ui;
    font-style: normal; 
    font-size: 1em;
    padding: 20px;
    color:#e34234;
    top: 15%;
}

.last iframe{
    position: relative;
    height: 200px;
    width: 250px;
    border-radius: 20px;
    top: 5%;
    border: 2px solid black;

}
 .last h2{
    position: relative;
    padding: 30px;
     font-family: "Sekuya", system-ui;
    font-style: normal; 
    font-size: 18px;
    color:#24523a ;
    align-items: center;
    
} 
.line1 span{
    font-size: 25px;
    color: #e34234;
}
.last p1 span{
    font-size: 25px;
    color: #2f5d3a;
    word-spacing: 15px;
}
.png{
    width: 70px;
    left: -10%;
}